NODE_ENV=dev
PORT=3000
APP_BASE_URI=

#postgresql
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB_HOST=
POSTGRES_DB_PORT=
POSTGRES_DB=


PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

#jwt
JWT_SECRET=
JWT_EXPIRATION=

#twillio
TWILLIO_ACCOUNT_SID=
TWILLIO_AUTH_TOKEN=
TWILLIO_PHONE_NUMBER=
TWILLIO_MESSAGING_SERVICE_SID=


PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=


VTPASS_PUBLIC_KEY=
VTPASS_SECRET_KEY=
TWILLIO_MESSAGING_SERVICE_SID=
VTPASS_EMAIL=
VTPASS_PASSWORD=

#flutterwave
FLUTTERWAVE_PUBLIC_KEY=
FLUTTERWAVE_SECRET_KEY=
FLUTTERWAVE_ENCRYPT_KEY=

#monnify
MONNIFY_BASE_URL=
MONNIFY_SECRET_KEY=
MONNIFY_APIKEY=
MONNIFY_CONTRACT_CODE=

#redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=password
